<header>
    <div class="navbar">
        <img id="logo" src="logotipo_soccer.png" alt="">
        <div>
            <a id="products" href="#products">Produtos</a>
            <a id="about" href="#about">Sobre Nós</a>
            <a id="contact" href="#contact">Contato</a>
        </div>
        <i id="car_store" class="bi bi-cart4"></i>
        <i id="person" class="bi bi-person"></i>
    </div>
</header>


<div class="jumbotron bg-danger p-3 my-3">
    <h1>MVC - TRAINNING</h1>
    <p>Model - View - Controller</p>
    <a href="{{URL}}"><button class="btn btn-light">HOME</button></a>
    <a href="{{URL}}/sobre"><button class="btn btn-light">SOBRE</button></a>
</div>
